.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px !important;
  border-radius: 50%;
  width: var(--user-avatar-width);
  height: var(--user-avatar-width);
  min-width: var(--user-avatar-width);
  min-height: var(--user-avatar-width);
  font-size: 2.4rem !important;
  color: #d1f9ed;
}

.button:hover {
  color: #d1f9ed;
  border-color: #d1f9ed;
}