.container {
  display: flex;
  gap: 1rem;
}

.container > button {
  padding: 0.5rem !important;
  height: var(--user-avatar-width);
}

.button {
  width: var(--user-avatar-width);
  border-radius: 50%;
}

.display_time {
  margin-left: 1rem;
  color: var(--light-secondary-color);
  background-color: var(--yellow);
  padding: 3px;
  border-radius: 3px;
}

@media screen and (prefers-color-scheme: dark) {
  .display_time {
    background-color: transparent;
    color: var(--light-yellow);
  }
}
