.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px !important;
  border-radius: 50% !important;
  width: var(--user-avatar-width);
  height: var(--user-avatar-width);
  cursor: pointer;
}