.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_header {
  background-color: var(--light-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 1rem;
}

.main_clock_container {
  width: 100%;
  max-width: var(--max-clock-width);
  min-width: 100px;
}

.main_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(2 * var(--max-clock-width));
}

.main_nav_container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_nav_container > div:last-child {
  width: var(--user-avatar-width);
}

.main_nav_container:first-child {
  width: var(--user-avatar-width);
}

.main_nav_container button {
  background-color: transparent;
  border: none;
  color: var(--light-color);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.main_notes_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(2 * var(--max-clock-width));
  /* max-width: 30rem; */
  min-width: 100px;
}

.container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 1rem;
}

.container footer span {
  margin: 5px;
}

.title {
  color: white;
  font-size: 1rem;
  /* font-weight: 400; */
  letter-spacing: 2px;
  cursor: default;
  text-transform: uppercase;
  padding: 0.4rem 0 0 0;
}

.title span {
  margin: 4px;
  /* font-size: 2rem; */
  /* vertical-align: sub; */
}

.top_border {
  border: 1px solid var(--light-secondary);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 100%;
  padding: 0.5rem;
  margin: 0.2rem;
}

@media screen and (prefers-color-scheme: dark) {
  .main_header {
    background-color: var(--dark-primary);
  }

  .title {
    color: rgb(0, 30, 29);
  }

  .top_border {
    border-color: var(--dark-secondary);
  }

  .main_nav_container button {
    color: var(--dark-color);
  }
}
