.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
}

.main_clock_container {
  width: 100%;
  max-width: var(--max-clock-width);
  min-width: 100px;
}

.main_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(2 * var(--max-clock-width));
}

.main_user_container {
  width: var(--user-avatar-width);
}

.main_notes_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(2 * var(--max-clock-width));
  /* max-width: 30rem; */
  min-width: 100px;
}

.container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 1rem;
}

.container footer span {
  margin: 5px
}

.title {
  color: white;
  font-size: 1rem;
  /* font-weight: 400; */
  letter-spacing: 2px;
  cursor: default;
  text-transform: uppercase;
  padding: 0.4rem 0 0 0;
}

.title span {
  margin: 4px;
  /* font-size: 2rem; */
  /* vertical-align: sub; */
}

.dotted_borders {
  border-top: dotted 1px;
  border-bottom: dotted 1px;
  width: 100%;
  padding: 0.5rem;
  margin: 0.2rem;
}


@media screen and (prefers-color-scheme: dark) {
  .title {
    color: rgb(0, 30, 29);
  }

  .dotted_borders {
    border-color: rgb(0, 30, 29);
  }
}